@import "main_colors";

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    background: $mainColor;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.navbar-nav {
    padding: 2px;
}

.nav-item {
    border-radius: 20px;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.card-column {
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}

.header-text {
    font-family: "Open Sans", sans-serif;
    font-size: x-large;
    position: absolute;
    margin-left: 14px;
    margin-top: -7px;
}

.bg-light {
    background: $lightAccent !important;
}

.bg-dark {
    background: $lightShades !important;
}

.light {
    color: $lightAccent !important;
}

.dark {
    color: $lightShades !important;
}

.fa-shopping-cart {
    font-size: larger;
}

.block-light {
    width: 100%;
    height: 100%;
    background: $lightShades;
}

.block-dark {
    width: 100%;
    height: 100%;
    background: $darkShades;
}

.block-header {
    padding-top: 20px;
}

.block-header-text {
    margin-left: 40px;
}

.products-bar {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }
}

.product-card {
    border-radius: 35px;

    img {
        border-radius: 35px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.card-title {
    overflow: hidden;
    height: 1.5rem;
    text-overflow: ellipsis;
    font-family: 'Oswald', sans-serif;
}

.card-text {
    height: 4.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-container {
    margin-top: -1px;
    width: 105%;
    margin-left: -2.5%;
    position: relative;

    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
}

hr.header-delimiter {
    width: 95%;
}

.bottom-button {
    background: $mainColor;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: fixed;
    z-index: 1000;
    transition: 0.5s ease-in-out;

    &:hover {
        transition: 0.5s ease-in-out;
        background: $darkShades;
        border-radius: 50px;
    }

    &:active {
        transition: 1ms ease-in-out;
        background: $darkAccent;
    }
}

.shopping-cart-open-btn {
    bottom: 2%;
    right: 2%;

    .fa-shopping-cart {
        color: $lightShades;
    }
}

.go-up-btn {
    bottom: 2%;
    left: 2%;
    z-index: 998 !important;

    .fa-arrow-up {
        color: $lightShades;
    }
}

.dropdown-toggle::before {
    border: none !important;
    content: none !important;
}

.dropdown-menu {
    border: none;
    border-radius: 0.5rem;
}

.dropdown-item {
    transition: 0.2s ease-in-out;

    &:active {
        transition: 0.2s ease-in-out;
        background: $darkShades;
    }
}

.cart {
    overflow-x: hidden;
    z-index: 999;
    position: fixed;
    right: 0;
    height: 100%;
    width: 0;
    background: $darkShades;
    overflow-y: scroll;
}

.foreground {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: #000000AA;
    opacity: 0;
}

.cart-item {
    width: 22rem;
    background: white;
    text-align: center;
    border-radius: 30px;
    box-shadow: 2px 2px 12px #444;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 20px;
}

.cart-item-img {
    width: 100px;
    height: 100px;
}

.cart-item-text {
    text-align: left;
    align-self: center;
    margin: 0 1rem;
}

.cart-item-header {
    height: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 14rem;
    margin-bottom: 0.3rem;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
}

.nav-light-link {
    background: $lightShades !important;
    color: black !important;
    border-radius: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.add-to-cart-btn {
    transition: 0.1s ease-in-out;
    z-index: 998;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 1.6rem;
    width: 2.4rem;
    font-size: 0.94rem;
    text-align: center;
    border-radius: 10px;
    border: 0.5px solid black;
    background: $lightShades;

    &:focus {
        outline: none;
    }

    &:hover {
        background: #cdcdcd;
    }

    &:active {
        background: #ffffff;
    }
}

.product-price {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 1.6rem;
    font-size: 0.94rem;
    text-align: center;
    border-radius: 10px;
    border: 0.5px solid black;
    background: $lightShades;
    font-weight: 700;
}

.product-quantity {
    transition: 0.1s ease-in-out;
    z-index: 998;
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 1.6rem;
    width: 2.4rem;
    font-size: 0.94rem;
    text-align: center;
    border-radius: 10px;
    border: 0.5px solid black;
    background: $lightShades;

    &:focus {
        outline: none;
    }
}

.product-price-text {
    margin: 0 0.3rem;
}

#sendOrderButton {
    float: right;
    margin-right: 2rem;
    margin-top: -0.5rem;
    width: 10rem;
    border-radius: 35px;
    box-shadow: 1px 2px 10px -3px black;
    font-weight: bold;
}

#sidebarHeader {
    width: 23.9rem !important;
}

.cart-item-bar {
    position: absolute;
    background: white;
    box-shadow: 0 4px 14px -5px black;
    border-radius: 10px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    font-weight: 700;
    margin-top: 5.1rem;
}

.cart-item-price {
    margin-left: 16rem;
}

.cart-item-quantity-container {
    margin-left: 10rem;
    width: 5rem;
    height: 1.5rem;
    position: absolute;
}

.cart-item-quantity {
    height: 1.5rem;
    width: 2.6rem;
    border: none;
    text-align: center;
    -moz-appearance: textfield;
    &:focus {
        outline: none;
    }
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.quantity-editor-btn {
    width: 1.2rem !important;
    background: white;
    border: none;
    height: 1.5rem;
    border-radius: 5px;
    padding: 1px 6px !important;
    &:focus, &:active {
        outline: none;
        border-color: $lightAccent;
        box-shadow: 0 0 0 .2rem rgba(220, 123, 92, .25);
        background: $lightShades;
    }
}

.lower-quantity {
    margin-left: -0.4rem;
    border-radius: 30px 0 0 30px;
    float: left;
}
.higher-quantity {
    margin-right: -0.4rem;
    border-radius: 0 30px 30px 0;
    float: right;
}

.delete-cart-item {
    position: absolute;
    margin-left: 19.5rem;
    margin-top: 0.7rem;
    box-shadow: 1px 2px 8px 0 black;
    border-radius: 30px;
    padding: 0.15rem 0.3rem 0.15rem 0.32rem;
    color: $danger;
    border: none;
    transition: 0.2s ease-in-out;
    &:focus {
        outline: none;
    }
    &:hover {
        background: lighten(#efefef, 5);
        box-shadow: none;
    }
}

.user-editor-container {
    display: flex;
    justify-content: center;

    input {
        &:focus, &:active {
            outline: none;
            border-color: $darkAccent;
            box-shadow: 0 0 0 .2rem rgba(83, 138, 60, .25);
        }
    }
}

.user-editor {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.user-editor-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-carousel-pic {
    width: 1600px;
    height: 820px;
}

#orderModal {
    input {
        &:focus, &:active {
            outline: none;
            border-color: $darkAccent;
            box-shadow: 0 0 0 .2rem rgba(83, 138, 60, .25);
        }
    }
}
