@import "main_colors";

.datatable {
    width: 80%;
}

.centered-table {
    width: 100% !important;
    margin-bottom: 10px;
}

.page-item.active .page-link {
    background-color: $mainColor;
    border-color: $mainColor;
}

.block-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-panel {
    padding-bottom: 1em;
}

.modal-label {
    margin-top: .5rem;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: 'Выберите файл';
}

.error-text {
    color: $danger;
}

.paginate_button:focus, .paginate_button:active {
    border-color: $darkShades;
    box-shadow: 0 0 0 .2rem rgba(107, 166, 76, .25);
}

.green-input-border:focus, .green-input-border:active {
    border-color: $darkShades;
    box-shadow: 0 0 0 .2rem rgba(107, 166, 76, .25);
}

.custom-file-input:focus~.custom-file-label {
    border-color: $darkShades;
    box-shadow: 0 0 0 .2rem rgba(107, 166, 76, .25);
}

#cke_descriptionEditor {
    border-radius: 0.25em;
    overflow: hidden;
}

.table-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.table-navbar label {
    margin-bottom: 0 !important;
}

.table-href {
    color: $darkShades !important;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        color: lighten($darkShades, 5) !important;
    }

    &:active {
        color: darken($darkShades, 5) !important;
    }
}

.product-photo {
    width: 400px;
    height: 400px;
}

.row-delete-href {
    margin-top: 5px;
    text-align: center;
    width: 100%;
    color: $danger !important;
    font-weight: bolder;
    cursor: pointer;
    &:hover {
        color: lighten($danger, 5) !important;
    }

    &:active {
        color: darken($danger, 5) !important;
    }
}

.row-edit-href {
    width: 100%;
    margin-top: 4px;
    text-align: center;
}

#products_info {
    padding-top: 0 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.03);
}

.image-href {
    width: 100%;
    text-align: center;
}

.product-href {
    width: 100%;
    text-align: center;
}

.blocked-href {
    color: $warning !important;
    &:hover {
        color: $warning !important;
    }
    &:focus {
        color: $warning !important;
    }
    &:active {
        color: $warning !important;
    }
}
