.btn-primary {
  border: none !important;
  background: #d1a155 !important;
  box-shadow: none;
}

.btn-primary:hover {
  background: #d6ac69 !important;
  box-shadow: none !important;
}

.btn-primary:active {
  background: #cc9641 !important;
  box-shadow: none !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}

.btn-secondary {
  border: none !important;
  background: #999999 !important;
  box-shadow: none;
}

.btn-secondary:hover {
  background: #a6a6a6 !important;
  box-shadow: none !important;
}

.btn-secondary:active {
  background: #8c8c8c !important;
  box-shadow: none !important;
}

.btn-secondary:focus {
  box-shadow: none !important;
}

.btn-info {
  border: none !important;
  background: #69a74a !important;
  box-shadow: none;
}

.btn-info:hover {
  background: #76b456 !important;
  box-shadow: none !important;
}

.btn-info:active {
  background: #5e9542 !important;
  box-shadow: none !important;
}

.btn-info:focus {
  box-shadow: none !important;
}

.btn-success {
  border: none !important;
  background: #538a3c !important;
  box-shadow: none;
}

.btn-success:hover {
  background: #5e9c44 !important;
  box-shadow: none !important;
}

.btn-success:active {
  background: #487834 !important;
  box-shadow: none !important;
}

.btn-success:focus {
  box-shadow: none !important;
}

.btn-white {
  border: none !important;
  background: #f6f5f1 !important;
  box-shadow: none;
  color: black;
}

.btn-white:hover {
  background: white !important;
  box-shadow: none !important;
}

.btn-white:active {
  background: #eceae1 !important;
  box-shadow: none !important;
}

.btn-white:focus {
  box-shadow: none !important;
}

